@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    color: var(--main-text-color);
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    min-height: 100vh;
    background-color: var(--main-background-color);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

main {
    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.arrow {
    font-size: 24px;
}

.row-display {
    display: flex;
    flex-direction: row;
}

.cards-menu {
    overflow-x: auto;
    overflow-y: visible;
    cursor: grab;
    user-select: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards-menu:active {
  cursor: grabbing;
}

.cards-menu::-webkit-scrollbar {
  display: none;
}

.column-display {
    display: flex;
    flex-direction: column;
}

.section-title {
    border-bottom: 1px var(--border-color) solid;
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 30px;
}

.header-container {
    border: 1px var(--border-color) solid;
    border-radius: 0 0 5px 5px;
}

.header-container, .header-container__nav-links, .header-container__nav-link, .footer-container {
    background-color: var(--second-background-color);
}

.header-container__nav-links div {
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.header-container__nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 860px;
    margin: 0 auto;
    font-size: 16px;
}

.header-container__nav-link {
    text-decoration: none;
    padding: 16px 0px;
}

.main-container {
    max-width: 860px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.main-container__info-button-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.main-container__info-button {
    align-items: center;
    justify-content: center;
}

.main-container__info-section, .main-container__info-button {
    background-color: var(--second-background-color);
    border: 1px var(--border-color) solid;
    border-radius: 5px;
    padding: 16px;
    gap: 50px;
    margin-bottom: 25px;
}

.main-container__info-button {
    width: 100%;
}

.main-container__info-section div {
    background-color: var(--second-background-color);
}

.main-container__info-section-card-container {
    background-color: var(--card-background-color) !important;
    box-shadow: 3px 3px 3px var(--box-shadow-color);
    border-radius: 5px;
    padding: 24px;
    width: 100%;
}

.main-container__info-section-image {
    width: 250px;
    height: 250px;
    border: 3px var(--border-color) solid;
    border-radius: 50%;
}

.main-container__info-section-skill-card, .main-container__info-section-skill-card div {
    background-color: var(--card-background-color) !important;
}

.main-container__info-section-skill-card {
    background-color: var(--card-background-color) !important;
    box-shadow: 3px 3px 3px var(--box-shadow-color);
    border-radius: 5px;
    padding: 24px;
    transition: transform 0.15s ease-out;
    will-change: transform;
}

.skill-icon {
    width: 150px;
    height: 150px;
}

.skill-stars {
    width: 150px;
    height: 31px;
}

.main-container__info-section-project-card , 
.main-container__info-section-project-card-description-container, 
.main-container__info-section-project-card-techno-container,
.project-logo-container, 
.project-description-container,
.project-techno-icon-container {
    background-color: var(--card-background-color) !important;
}

.main-container__info-section-project-card {
    width: 500px;
    box-shadow: 3px 3px 3px var(--box-shadow-color);
    border-radius: 5px;
    padding: 24px;
    transition: transform 0.15s ease-out;
    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.project-logo {
    width: 100px;
    height: 100px;
}

.project-techno-icon {
    background-color: var(--third-background-color) !important;
    box-shadow: none;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.main-container__info-section-project-card-description-container {
    gap: 16px;
    overflow: hidden;
}

.project-description-container p {
    width: 300px;
}

.main-container__info-section-project-card-techno-wrapper {
    background-color: var(--card-background-color) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container__info-section-project-card-techno-container {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.project-logo-container {
    display: flex;
    align-items: center;
}

.project-techno-button {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 6px;
    border-radius: 10px;
    background-color: var(--third-background-color) !important;
}

.project-techno-button-link {
    display: flex;
    align-items: center;
    gap: 6px;
}

.return-home-section {
    display: flex;
    align-items: center;
    gap: 12px;
}



.footer-container {
    border: 1px var(--border-color) solid;
    border-radius: 5px 5px 0 0;
}

.footer-container__section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}

.footer-container__contact-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.footer-info-icon {
    width: 24px;
    height: 24px;
}

.footer-container__contact-info-link {
    text-decoration: none;
}